<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<title>Error!</title>
	<script src="https://use.fontawesome.com/8ca07b3466.js"></script>
</head>
<body>
	<div class="header">
		<div class="login_box_gab">
			<div class="gabh1">
			<a href="/"> Gabble </a>
			</div>
		</div>
	</div>
	<div class="main_contain_error">
		<div class="error_contain">
			<p>{{message}}</p>
			<button><a href="/"><i class="fa fa-reply" class="go_back" aria-hidden="true"></i>
Take Me Back to the Start</a></button>
		</div>
	</div>
		<div class="footer_gab">
			<h5_gab> - Go Back - Go Back - Back I Say - Get Your Shit Together - What Did You Call Me? - </h5>
		</div>
	</div>
</body>
</html>