<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 <title>Gab - Gab About It</title>
 <link rel="stylesheet" href="/css/main.css" />
</head>	
<body>
	<div class="header">
		<div class="login_box_gab">
			<h1 class="gabh1">Gabble</h1>
			<div class="head_nav">
				<div class="nav_link">
			 	<a href="/"> Gabble </a>
			 	</div>
			 	<!-- <div class="nav_link">
			 		<a href="/gab"> Create a new Gab </a>
			 	</div> -->
			 	<div class="nav_link">
			 		<a href="/login"> Logged in as {{name}} </a>
			 	</div>
			 	<div class="nav_link_out">
			 		<a href="/"> Log Out </a>
			 	</div>
			</div>
		</div>
			<!-- <form action="" method="post" class="login_form">
				<div class="login">
					<label class="login_font">Username</label><br>
					<input type="text" name="username" class="login_text">
				</div>
				<div class="login">
				<label class="login_font">Password</label><br>
				<input type="text" name="password" class="login_text">
				</div>
				<input type="submit" value="Log In" class="submit">
				
			</form>
 -->		</div>
	</div>
	<div class="main_contain_gab">

		<div class="gab_contain">
			<h2>Create new Gab</h2>
		</div>
		<div class="gab_box">
			<div class="new_gab">
				<input type="text" name="newgab" placeholder="Tell me more...">
			</div>
			<input type="submit" class="save" value="Save Gab">
		</div>

	</div>
</body>
</html>