<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gabbook</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<div class="main_contain">

	  <h1>Hello, Welcome to {{appType}}!</h1>
	  
	  <div class="head_nav">
	  	<div class="nav_link">
	  	<a href=""> Gabble </a>
	  	</div>
	  	<div class="nav_link">
	  		<a href=""> Create a new Gab </a>
	  	</div>
	  	<div class="nav_link">
	  		<a href=""> Logged in as {{name}} </a>
	  	</div>
	  	<div class="nav_link_out">
	  		<a href=""> Log Out </a>
	  	</div>
	  </div>
	  <div class="comment_contain">
	  	<form class="">

	  		<input type="submit" value="submit">
	  	</form>

	  </div>
	</div>
</body>
</html>