<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 <title>Gab - Likes</title>
 <link rel="stylesheet" href="/css/main.css" />
 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>	
<body>
	<div class="header">
		<div class="login_box_gab">
			<div class="gabh1"><a href="/homepage"> Gabble </a></div>
			<div class="head_nav">
			 	<div class="nav_link">
			 		<a href="/gab"> Create a new Gab </a>
			 	</div>
			 	<div class="nav_link">
			 		<a href="/login"> Logged in as {{username}} </a>
			 	</div>
			 	<div class="nav_link_out">
			 		<a href="/"> Log Out </a>
			 	</div>
			</div>
		</div>
	</div>
	<div class="main_contain_gab">
		<div class="left_side_box">
				<h2>Groups</h2><br>
			<h4>This group is secret, no new friends!</h4>
			<h4>Party Committee</h4>
			<h4>High School Reunion</h4>
			<h4>Pages</h4>
			<h4>What she said about him who said something about her</h4>
		</div>

		<div class="comment_contain">
			{{#likes}}
		<div class="comment_box">
	  		{{username}}
	  		<form action="/homepage" method="post" class="like_form">
	  			<input type="submit" name="like" value="Like" class="like_button">
	  		</form>
	  	</div>
			{{/likes}}
	</div>
		<div class="right_side_box">
			<div class="news">
			<h2>News and shit</h2>
			</div>
			<div class="new_friends">
				<h4>People you might know?</h4>
			</div>
		</div>
	</div>
	<div class="footer_gab">
		<h5_gab> - Languages - Languages - More Languages - Vas ist das? - Como Esta? - Legal jargon - HALP! - </h5>
	</div>
	
</body>
</html>