<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 <title>Gab - Sign Up</title>
 <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<div class="main_contain">

		<div class="head_nav">
		 	<div class="nav_link">
		 	<a href="/"> Gabble </a>
		 	</div>
		 	<div class="nav_link">
		 		<a href="/gab"> Create a new Gab </a>
		 	</div>
		 	<div class="nav_link_out">
		 		<a href="/"> Log In </a>
		 	</div>
		</div>
		<div class="signup">
			<h2> Sign Up</h2>
			<div class="signup_form">
				<form action="" method="post">
					<div class="username_signup">
						<label>Username</label><br>
						<input type="text" name="username">
					</div>
					<div class="password_signup">
						<label>Password</label><br>
						<input type="text" name="password">
					</div>
					<div class="password_signup">
					<label>Confirm Password</label><br>
					<input type="text" name="confirm">
					</div>
					<div class="submit_button">
					<input type="submit" value="Sign Up">
					</div>
				</form>
			</div>
			
		</div>

	</div>

</body>
</html>