html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}


body {
  margin:0;
  padding:0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.header {
	background-color: #0C9D1A;
}

h1 {
	font-size: 3em;
	color: white;
} 

#left_head_text {
	color: black;
	font-size: 2.5em;
}

.gabh1 {
	font-size: 3em;
	color: white;
	margin: 0px;
}
.login_font {
	color: white;
}

.login_box {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: auto;
}

.login_box_gab {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: auto;
	align-items: center;
}

.login_form {
	align-items: center;
	display: flex;
}

.login {
	margin-right: 20px;
}

.login_font {
	height: 23px;
}

.submit {
	margin-top: 24px;
	background-color: #077C13;
	color: white;
	border: 1px solid ;
}


.main_contain {
	width: 50%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.main_contain_gab {
	width: 55%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	border-bottom: 1px solid;
}

.head_nav {
	display: flex;
	justify-content: flex-end;
}

.nav_link {
	margin-left: 10px;
	padding-right: 10px;
	border-right: solid 1px green;
}

.nav_link a, .nav_link_out a {
	text-decoration-line: none;
	color: white;
}

.nav_link_out {
	border: none;
	margin-left: 10px;
}

.left_side_box {
	width: 200px;
	height: 390px;
	border: solid 1px;
	margin-right: 55px;
}

.gab_contain {
	width: 350px;
}

.signup {
	height: 380px;
	border-bottom: 1px solid black;
	margin-bottom: 100px;
}

#signup_title {
	color: black;
	margin: 0px;
}

h3 {
	margin: 0px;
}

h5 {
	margin-bottom: 0px;
}

#nofriends {
	margin: 0px;
}

h2 {
	margin: 0px;
}

#child {
	margin-bottom: 0px;
	font-size: xx-small;
	text-align: center;
}

.right_side_box {
	border: 1px solid;
	width: 200px;
}

.signup_form {
	width: 300px;
	margin-top: 20px;
}
.create_account_box {
	text-align: center;
}
.create_account {
	margin: auto;
	margin-left: 0px;
	width: 173px;
	background-color: #077C13;
	color: white;
	border-radius: 6px;
	border: solid;
}

.username_signup_name {
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.username_signup_name input {
	width: 145px;
	padding: 5px 0px;
	font-size: 1em;
}

.username_signup {
	padding-bottom: 10px;
}

.username_signup input {
	font-size: 1em;
	width: 300px;
	padding: 5px 0px;
}
.signup_name_box {
	display: flex;
}

.signup_name_box input {
	font-size: 1em;
}

.new_gab_box {
	display: flex;
}

#new_gab_text {
	height: 70px;
	width: 300px;
	padding-bottom: 75px;
	overflow: hidden;
}

#save {
	margin: auto;
	margin-left: 0px;
	background-color: #077C13;
	color: white;
	border-radius: 6px;
	border: solid;
	width: 300px;
}

.comment_contain {
	width: 500px;
	margin: auto;
}

.comment_box {
	border: solid 1px;
}

.footer_gab {
	width: 80%;
	margin: auto;
	text-align: center;
}